<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Decryptoid</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div class="container">
		<section class="header">
			<a href="/login" id="login_link"> LOGIN </a>
			<a href= "/signup" id="signup_link"> SIGN UP </a>
		</section>
		<section class="home_body">
			<div class="home_center_box">
				<h1 id="home_title"> DECRYPTOID </h1>
				<h2 id="home_tagline1"> Decrypt Simple Substitution </h2>
				<h3 id="home_tagline2"> a cryptography suite for encrypting and decrypting files</h3>
				<a href="/main" id="home_btn"> Get Started </a>
			</div>
		</section>
		<section class="footer">
		</section>
	</div>
</body>
</html>