<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Decryptoid | Show File </title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div class="container">
		<section class="main_header">
			<a href="/" id="header_logo">DECRYPTOID</a>
			<form name="logoutLink" action="/logout" method="post" id="logout_link">
				<input type="submit" id="logout_button" value="LOG OUT">
			</form>
		</section>
		<section class="main_body">
			<div class="file_center_box">
				<h1><%= filename %></h1>
				<p class="file_display">
					<%= content %>  
				</p>
				<a href="/main" class="upload_btn"> GO BACK</a> 
			</div>
		</section>
		<section class="main_footer">
		</section>
	</div>
</body>
</html>