<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Decryptoid | Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div class="container">
		<section class="header">
			<a href="/login" id="login_link"> LOGIN </a>
			<a href= "/signup" id="signup_link"> SIGN UP </a>
		</section>
		<section class="login_body">
			<div class="login_center_box">
				<a href="/" id="login_title"> DECRYPTOID </a>
				<div id="login_box">
					<div id="login_form_tabs">
						<p class="auth_tab"> LOGIN </p> 
						<p class="auth_tab_selected"> SIGN UP </p>
					</div>
					<div>
						<% if (error) { %>
							<h1> <%= error %> </h1>
						<% } %>
						<form action="/signup" method="post" id="login_form">
							<input class="auth_input" type="text" name="email" placeholder="Email">
							<label class="auth_label"> Required </label>
							<input class="auth_input" type="text" name="username" placeholder="Username">
							<label class="auth_label"> Required </label>
							<input class="auth_input" type="password" name="password" placeholder="Password">
							<label class="auth_label"> Required </label>					
							<button class="auth_btn"> SIGN UP </button>
						</form>
					</div>						
				</div>
			</div>
		</section>
		<section class="footer">
		</section>
	</div>
</body>
</html>