<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Decryptoid | Upload </title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div class="container">
		<section class="main_header">
			<a href="/" id="header_logo">DECRYPTOID</a>
			<form name="logoutLink" action="/logout" method="post" id="logout_link">
				<input type="submit" id="logout_button" value="LOG OUT">
			</form>
		</section>
		<section class="upload_body">
			<div class="upload_center_box">
				<form enctype="multipart/form-data" method="post" class="upload_form">
					<textarea name="crypt_content" rows="25" cols="120" 
					class="main_textarea"></textarea>
					<input type="text" name="file_name">
					<label id="upload_label"> Input text above or upload file </label>
					<input type="file" name="uploaded_file" style="margin-top:10px">
					<label id="choose_file_label"> File must be a .txt file </label>
					<select name="algorithm" id="choose_alg_dropdown">
						<option value="simple_sub">Simple Substitution </option>
						<option value="double_tran">Double Transposition </option>
						<option value="rc4">RC4</option>
					</select>
					<div id="upload_radio_box">
						<input type="radio" name="operation" value="encrypt">Encrypt
						<input type="radio" name="operation" value="decrypt">Decrypt
					</div>
					<input type="submit" class="upload_btn">
				</form>	
				
				
			</div>
		</section>
		<section class="main_footer">
		</section>
	</div>
</body>
</html>