body {
	margin:0;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

/* Taken from: https://www.cssfontstack.com/Helvetica */
h3 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
	font-size: 14px; font-style: normal; 
	font-variant: normal;
	line-height: 15.4px; 
}

h2 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
	font-size: 28px; font-style: normal; 
	font-variant: normal;
	line-height: 15.4px; 
}

.container {
	display: grid;
	grid-template-rows: 60px auto 60px;
	grid-template-areas: 
		"header"
		"body"
		"footer";
	height: 100vh;
}

.header {
	border-bottom:1px solid #A3A3A3;
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.header a {
	display:block;
	padding: 1em;
	color:#503434;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
}

.home_body {
	display: grid;
	grid-template-columns:0.2fr 0.6fr 0.2fr;
	grid-template-rows:0.2fr 0.6fr 0.2fr;
	grid-area: body;	
	background-image: url("../images/bg-image.jpg");
	background-size: cover;
}

.home_center_box {
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start: 2;
	grid-row-end: 3;
	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	/* background-color:rgba(255,255,255,0.5); */
	padding:10px;
}

#home_title {
	color:white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
	font-size:68px;	
	margin:0;
}

.home_tagline {
	color:white;
	font-size:20px;
	margin:15px;
	font-weight:bold;
}

#home_btn {
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	width:200px;
	border: 1px solid #4D4545;
	font-size: 14px;
	padding:15px;
	background-color:#4D4545;
	color:white;
	margin:0;
	border-radius:10px;
	transition:0.3s;
}

#home_btn:hover {
	opacity:0.8;
	background-color: #503434;
}

.try_app_box {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:2;
	grid-row-end:3;
}

.try_app_form {
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	background-color: white;
	width: 400px;
	border-radius: 5px;
	padding: 10px;
}


#try_input {
	border:1px solid rgb(140, 196, 142);
	width:100%;
	background-color: white; 
	font-size: 20px;
}

#try_menu_options {
	display: flex;
	flex-flow: row wrap;
	margin-top:10px;
}

.try_app_btn {
	width: 100px;
	border:1px solid rgb(140, 196, 142);
	background-color: rgb(140, 196, 142);
	color:white;
	margin-left: 20px;
}

.try_app_btn:hover {
	background-color: rgb(117, 163, 117);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.footer {
	border-top:1px solid #A3A3A3;
}

@media all and (max-width:970px) {
	.home_body {
		grid-template-columns:0fr;
	}
	
	.header {
		justify-content: space-around;
	}

	#home_title {
		font-size:44px;
	}

	.home_tagline {
		font-size: 18px;
	}

}

@media all and (max-width:470px) {
	.container {
		grid-template-rows: 120px auto 60px;
	}

	.header {
		flex-flow: column wrap;
	}
	
	.header a:first-of-type {
		border-bottom: 1px solid #d4d4d4;
	}

	#home_btn {
		display:none;
	}
}

/** LOGIN PAGE **/

.login_body {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-area: body;	
	background-color:#F7EE8B;
}

.login_center_box {
	display:grid;
	grid-template-rows:90px auto;
	grid-column-start:2;
	grid-column-end:4;
	grid-row-start: 1;
	grid-row-end: 3;
	align-self:center;
}

#login_title {
	text-decoration:none;
	color:#4D4545;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
	font-size:45px;	
	justify-self:center;
	margin:0;
	font-weight:bold;	
}

#login_box {
	display:grid;
	background-color:white;
	grid-template-rows:70px auto;
	padding-bottom:10px;
}

#login_form_tabs {
	display:grid;
	grid-template-columns:1fr 1fr;
	margin:0;
	border-bottom:1px solid #4D4545;
}

.auth_tab {
	margin:0;
	align-self:end;
	justify-self:stretch;
	text-align:center;
}

.auth_tab_selected {
	margin:0;
	align-self:end;
	justify-self:stretch;
	text-align:center;
	border-bottom:1px solid #21B5EB;
}

#login_form {
	display:grid;
	grid-template-rows: 50px 50px 50px 50px 50px 50px;
	padding:10px;
	margin-top:50px;
}

.auth_input {
	outline:none;
	border:0px;
	background-color:white;
	border-bottom:1px solid #4D4545;
	font-size:18px;	
}

.auth_input:focus {
	outline:none;
	border:0px;
}

.auth_label {
	color:#4D4545;
}

.auth_btn {
	font-weight:bold;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	width:200px;
	padding:15px;
	background-color:#21B5EB;
	color:white;
	justify-self:center;
	margin:0;
	border-radius:10px;
	transition:0.3s;
}

.auth_btn:hover {
	opacity:0.8;
	background-color: #7CB8CE;
}

/** UPLOAD PAGE **/

.main_footer {
	border-top:1px solid #A3A3A3;
	background-color:#F7EE8B;
}

.upload_body {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	background-color:white;
}

.upload_center_box {
	display:grid;
	grid-column-start:2;
	grid-column-end:4;
}

.main_header {
	display:grid;
	grid-template-columns:repeat(9, 1fr);
	border-bottom:1px solid #A3A3A3;
	background-color:#F7EE8B;
}

#header_logo {
	color:#503434;
	font-size:24px;
	font-weight:bold;
	grid-column-start:1;
	grid-column-end:2;
	align-self:center;
	text-decoration:none;
	margin-left:20px;	
}

#logout_link {
	color:#503434;
	font-size:18px;
	font-weight:normal;
	grid-column-start:10;
	grid-column-end:11;
	align-self:center;
	text-decoration:none;
	margin-right:20px;
}

#logout_button {
	border:0px;
	font-size:16px;
	background-color:#F7EE8B;
}

#logout_button:hover {
	cursor: pointer;
}

.upload_form {
	display:grid;
	grid-template-rows:350px 20px 30px 20px 40px 40px 40px 50px;
	justify-items:center;
	align-items:center;	
}

#upload_label {
	text-align:center;
	color:gray;
	font-size:18px;
}

#choose_file_label {
	font-size:14px;
}

#choose_alg_dropdown {
	align-self:start;
}

.upload_btn {
	font-weight:bold;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	width:300px;
	padding:15px;
	background-color:#21B5EB;
	color:white;
	justify-self:center;
	margin:0;
	border-radius:10px;
	transition:0.3s;
}

.upload_btn:hover {
	opacity:0.8;
	background-color: #7CB8CE;
}

/** MAIN PAGE **/

.main_body {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	background-color:white;
}

.main_center_box {
	display:grid;
	grid-auto-rows:50px;
	grid-column-start:2;
	grid-column-end:4;
}

.list_of_files_box {
	display:grid;
	margin-top:10px;
}

.each_file_box {
	display:grid;
	grid-template-columns:2fr 1fr;
	align-items:center;
	border:1px solid #7CB8CE;
	margin-bottom:10px;
}

.each_file_box:hover {
	opacity:0.8;
}

.each_file_filename {
	margin-left:10px;
}

.each_file_timestamp {
	justify-self:end;
	margin-right:10px;
}

/** SHOW FILE PAGE **/

.file_center_box {
	display:grid;
	grid-auto-rows:50px 300px 50px;
	grid-column-start:2;
	grid-column-end:4;
}

.go_back_btn {
	font-weight:bold;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	width:300px;
	padding:15px;
	background-color:#21B5EB;
	color:white;
	justify-self:center;
	margin:0;
	border-radius:10px;
	transition:0.3s;
}

.go_back_btn:hover {
	opacity:0.8;
	background-color: #7CB8CE;
}

